/*
Theme Name: [Company Name] Hive Child Theme
Theme URL: http://hiveofdesign.co.uk
Description: A child theme of the Hive theme,
Author: Lorinda
Author URL: http://hiveofdesign.co.uk
Template: hive-parent-theme
Version: 1.0.1
Text Domain: hive-child
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #212529;
}
h1, h2, h3, .editor-post-title__block .editor-post-title__input, a h1, a h2, a h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000; /* primary colour */
}

/*--------------------------------------------------------------
# Color Palette
--------------------------------------------------------------*/

.has-primary-color, .woocommerce ul.products li.product .price {
  color: #000;
}

.has-primary-background-color, :root .has-primary-background-color, .navbar.bg-dark, .woocommerce span.onsale, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .nf-form-content input[type="button"] {
  background-color: #000 !important;
}

.has-very-light-gray-color {
  color: #eee;
}

.has-very-light-gray-background-color, :root .has-very-light-gray-background-color {
  background-color: #eee;
}

.has-very-dark-gray-color, .woocommerce div.product .price {
  color: #444 !important;
}

.has-very-dark-gray-background-color, :root .has-very-dark-gray-background-color {
  background-color: #444;
}

.has-white-color {
  color: #fff;
}

.type-page .entry-header {
  background-color: #000 !important;
}
/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
#company-logo {
    background-image: url(images/logo.svg);
}

/*--------------------------------------------------------------
# Image links
--------------------------------------------------------------*/
.wp-block-image.image-link {
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
    background-color: #000;
}
.image-link figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 9px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
    margin-bottom: 0;
    pointer-events: none;
}
.wp-block-image.image-link img:hover {
    opacity: 0.8;
}
.home .wp-block-columns {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.input[type="button"], .wp-block-button__link, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce button.button.alt {
    color: #fff; /* the colour selected in block settings will overide this */
    background-color: #ED1C24; /* primary colour: the colour selected in block settings will overide this */
}
.nf-form-content input[type="button"] {
    color: #fff !important; /* colour for Ninja Forms button */
}
input[type="button"]:hover, .nf-form-content input[type="button"]:hover, a.wp-block-button__link:hover, .woocommerce a.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover {
    opacity: 0.8;
    transition: all .5s;
}
/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/
blockquote p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic;
}
blockquote cite:before {
    content: "\2014 \2009";
}

@media screen and (max-width: 768px) {
.entry-content > blockquote {
    margin-left: 15px;
}
}