@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #212529;
}
h1, h2, h3, .editor-post-title__block .editor-post-title__input, a h1, a h2, a h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000; /* primary colour */
}
